apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
  labels:
    app: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s # Scrape toutes les 15s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      # C'est ici qu'on connecte le simulateur !
      - job_name: 'solar-simulator'
        metrics_path: '/metrics'
        static_configs:
          # Nom du service (solar-simulator) . Namespace (solar-prod) . svc.cluster.local : Port (80)
          - targets: ['solar-simulator.solar-prod.svc.cluster.local:80']